* {
  border-style: border-box;
  padding: 0;
  margin: 0;
  background-color: #F5F5F5;
}


.textWrapper{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-left: 15px;
  

}
.wrapper{
  display: flex;
}  

fieldset{
  display: flex;
  flex-direction: row;
}

.container{
  display: flex;
  flex-direction: column;
}

form{
  display: flex;
  flex-direction: row;
  gap: 190px;

}

.right-column , .left-column{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 25px;
}


legend{
  height: 30px;
}


