* {
  border-style: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: #F5F5F5;
  --form-bg-color: white
}

input{ 
  outline: none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  
}
.textWrapper{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-left: 15px;
  

}
.wrapper{
  display: flex;
}  

fieldset{
  display: flex;
  flex-direction: row;
  border: none;
  background-color: var(--form-bg-color);
  box-shadow: 10px 5px 5px #939BB4;
}

.container{
  display: flex;
  flex-direction: column;

}

form{
  display: flex;
  flex-direction: row;
  gap: 190px;
  margin-left: 30px;
  background-color: var(--form-bg-color);
  margin: 30px;

}

.right-column , .left-column{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 25px;
  background-color: var(--form-bg-color);
}


legend{
  height: 30px;
  font-weight: bold;
  font-size: 25px;
  background-color: var(--form-bg-color);
}

span{
  background-color: var(--form-bg-color);
}

label{
  width: 150px;
  display: inline-block;
  color: black;
  font-weight: bold;
  font-size: 15px;
  background-color: var(--form-bg-color);
}

#submit{
  background-color: #596D48;
  color: white;
  width: 250px;
  border-radius: 5px;
  height: 43px;
  border: 0px;
  margin-top: 30px;
  font-weight: bold;
  margin-left: 30px;
}

.login{
  color: #596D48;
  background-color: #F5F5F5;
}

.cta{
  font-weight: bold;;
  margin-top: 10px;
  margin-left: 30px;
}

input{
  border-color: #E5E7EB;
  width: 250px;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
}


#password:required , #confirm:required {
  border-width: 2px;
  border-color: red;
  box-shadow: 2px;
}

input:focus{
  border-color: blue;
  box-shadow: 2px;
}
.images{
  position: relative;
}

#odin{
  position: absolute;
  width: 100%;
  background-color: black;
  margin-top: 250px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity: 0.5;
}

h2{
  background-color: black;
  color: white;
}

.logo {
  background-color: black;
  height: 80px;
  width: auto;
}

